* {
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    /*transição mais suave*/
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: #142026;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    align-items: center;
}

header i {
    color: #e9f0c9;
    font-size: 50px;


}

header h1 {
    color: #e9f0c9;
    font-size: 60px;

}

.list-menu ul {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.list-menu ul li {
    list-style: none;

}

.list-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;

}

.list-menu ul li a:hover {
    color: #3b657a;
    transition: 0.8s;
}


.primeira-section {
    padding: 160px;
    background-image: url(imagens/house-1867187_1280.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed
}

.primeira-section button {
    padding: 10px;
    width: 150px;
    background-color: #142026;
    color: white;

}

.primeira-section button:hover {
    color: #3b657a;
    transition: 0.8s;

}

.segunda-section {
    padding: 150px;
    background-color: #142026;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;

}

.segunda-section div {
    width: 300px;
    height: 300px;
    background-color: #3b657a;
    color: white;
    text-align: center;
    padding: 15px;

}
 

.div-01 i {
    font-size: 30px;
    color: black;
    
}

.caixa01:hover {
    box-shadow: 10px 10px 20px black;
    transition: 0.8s;
    transform: scale(0.91) translate(5px, 5px);

}

.caixa02:hover {
    box-shadow: 10px 10px 20px black;
    transition: 0.8s;
    transform: scale(0.91) translate(5px, 5px);

}

.caixa03:hover {
    box-shadow: 10px 10px 20px black;
    transition: 0.8s;
    transform: scale(0.91) translate(5px, 5px);

}

.div-01 {
    border-radius: 20px;
    
}

.div-02 {
    background-image: url(imagens/casa\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

}



.div-03 {
    background-image: url(imagens/casa\ 2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.terceira-section {
    background-color: #3b657a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 30px;

}

.terceira-section p {
    color: white;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: 30px;
}

.terceira-section img {
    width: 600px;
    height: 500px;
    border-radius: 30px;
box-shadow: 10px 10px 20px black;
}

.terceira-section span {
    color: darkblue;

}

.quarta-section {
    background-color: #142026;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.quarta-section p {
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: 30px;
    background-color: #3b657a52;
}

.fa-user {
    font-size: 25px;

}


iframe {
    border-radius: 50px;

}

footer {
    background-color: black;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 40px;
}

footer p {
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: 30px;
    gap: 30px;
}

.fa-house {
    color: white;
    font-size: 25px;
}